{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<footer class="fancy-footer-area fancy-bg-dark">
	<div class="footer-content section-padding-80-50">
		<div class="container">
			<div class="row">
				<!-- Footer Widget -->
				<div class="col-12">
					<div class="single-footer-widget">
						<h6>Link Categories</h6>
						<nav>
							<ul>
								<li><a href="#" class="active"><i class="fa fa-angle-double-right" aria-hidden="true"></i>当サイトについて</a></li>
								<li><a href="{{ url('help_tradelaw') }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>特定商取引法に基づく表記</a></li>
								<li><a href="{{ url('help_privacy') }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>プライバシーポリシー</a></li>
								<li><a href="{{ url('contact') }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>お問い合わせ</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copywrite -->
	<div class="footer-copywrite-area">
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-12 h-100">
					<div
						class="copywrite-content h-100 d-flex align-items-center justify-content-center">
						<!-- Copywrite Text -->
						<div class="copywrite-text">
							<p>
								このホームページに掲載のイラストおよびページレイアウト、文章の無断転載を禁じます。
							</p>
							<p>
								Copyright &copy; office-soft all rights reserved.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
